Repository DiamondLightSource/blueapi, pull requests merged in 2024-09, with the labels that each got.

#596 add codeql config
  .github/workflows/codeql.yml
Labels: enhancement, github_actions, tests

#631 separate the init config in helm
  helm/blueapi/templates/init-configmap.yaml
  helm/blueapi/templates/statefulset.yaml
  helm/blueapi/values.yaml
Labels: helm chart

#635 Init config map quickfix
  helm/blueapi/templates/init-configmap.yaml
Labels: helm chart

#640 Update bluesky-stomp and prevent duplication of BasicAuthentication
  dev-requirements.txt
  helm/blueapi/values.yaml
  pyproject.toml
  src/blueapi/cli/cli.py
  src/blueapi/client/client.py
  src/blueapi/client/event_bus.py
  src/blueapi/config.py
  src/blueapi/service/interface.py
  tests/unit_tests/client/test_event_bus.py
  tests/unit_tests/service/test_interface.py
  tests/unit_tests/test_cli.py
  tests/unit_tests/test_config.py
Labels: bug, enhancement, dependencies

#628 Add sonarcloud workflow
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Labels: enhancement, github_actions
